* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #fc70fc;
}
#main-rectangle{
    /* height: 650px;
    width: 350px; */
    height: 600px ;
    width: 300px ;
    background-color: #2A2E37;
    border: 2px solid white;
    margin: 10px auto ;
    position: relative;
    border-radius: 19px;
    overflow: hidden;
}

#show{
    color: white;
    width: auto;
    /* border: 2px solid black; */
    position: absolute;
    top: 70px;
    right: 6px;
    font-size: 52px;
    font-family: sans-serif;
    font-style: medium;
    user-select: none;
}
#second-rectangle{
    height: 60%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: 2px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    box-sizing: border-box;
}

.rectangle{
    color: white;
    height: 70px;
    border: 1px solid black;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F3646;
    user-select: none;
    font-family: sans-serif;
    

}
#left-radius{
      border-bottom-left-radius: inherit;

}

#equal{
    border-bottom-right-radius: inherit;
}

.purple{
    background-color: #C25BDE;
    color: white;
}

.rectangle:active{
    background-color: #292f3d;
}

.purple:active{
    background-color: #bc48dc;
    

}


